
.col-6{
  /* padding: 100px; */
}

.card {
  margin: 100px;
  padding: 50px;
  background-color: white; /* Add this line if you want a white background for the card */
  border-radius: 10px;
  border-color: aliceblue;
  border: solid;
}

.container-fluid {
  background-image: url(https://wallpaperaccess.com/full/1393720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0; /* Optionally, set padding to 0 to remove any default padding */
  min-height: 100vh;
}

label{
  font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
}

p{
  font-size: 30px;
}

h3{
  /* background-color: rgb(142, 142, 189); */
  font-size: 50px !important;
  font-family: 'Times New Roman', Times, serif;
  padding-bottom: 10px;
}